# Base de datos
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASS=secret
DB_NAME=sime_db

# Prisma
DATABASE_URL="mysql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

# CORS: debe coincidir con el origen del frontend en Docker
CORS_ORIGIN="http://localhost:3000"

# Puerto del backend
PORT=3001

# JWT
JWT_SECRET=tu_clave_secreta_segura